<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    >

<import resource="admin_context.xml"/>
	<bean id="user" class="by.galov.organizer.beans.User"></bean>
	<bean id="task" class="by.galov.organizer.beans.Task"></bean>
	<bean id="actionRep" class="by.galov.organizer.dao.StringReplacer"/>
	<bean id="userfile" class="by.galov.organizer.beans.UserFile"
	 p:fileName="464" 
	 scope="prototype">
	   <constructor-arg ref="user" index="0"/>
	   <constructor-arg ref="task" index="1"/>
<!-- 	   <replaced-method name="toString" replacer="actionRep"></replaced-method> -->
<!-- 	   <property name="fileName" value="asdf"/> -->
	</bean>
	<bean class="by.galov.organizer.beans.MyBeanPostProcessor"/>
	
	<bean id="userPool" class="by.galov.organizer.impls.UserPool">
	   <property name="userCollection">
	       <list>
	           <ref bean="user"/>
	           <bean class="by.galov.organizer.beans.User" scope="prototype">
	              <property name="uname" value="Igor"/>
	           </bean>
	       </list>
	   </property>
	</bean>
</beans>
 